/* body {
    transition: background-color 0.5s ease;
    font-family: 'Press Start 2P', cursive;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
} */
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    background-color: rgb(6, 141, 224);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgb(6, 141, 224);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete {
    cursor: pointer;
    float: right;
    color: #f44336;
}
